<section id="about" class="lg">
  <div class="a">
    <div class="lb od qd ia">
      <div class="fc hm/2 nf">
        <div
          class="zg _a ul wow fadeInUp"
          data-wow-delay=".2s"
          style="visibility: visible; animation-delay: 0.2s"
        >
          <img src="images/about-image-1.svg" alt="image" class="ho" />
        </div>
      </div>
      <div class="fc hm/2 nf">
        <div
          class="cd vl wow fadeInUp"
          data-wow-delay=".3s"
          style="visibility: visible; animation-delay: 0.3s"
        >
          <span class="lh _g sh jb oa"> About Application </span>
          <h2 class="jh eh pk oh qh _j db">
            Instant Payment Transfer SavesYou Time
          </h2>
          <p class="fh nh ph xa wl">
            Schedule your posts for times when your audience is most active.
            Choose from our best-time predictions, or create your own publishing
            schedule.
          </p>
          <a href="javascript:void(0)" class="mb qd lh _g sh _i">
            Know More About App
            <span class="sg">
              <svg width="28" height="28" viewBox="0 0 28 28" class="ff">
                <path
                  d="M16.3333 19.7633V15.0967H5.92666L5.89166 12.7517H16.3333V8.09668L22.1667 13.93L16.3333 19.7633Z"
                ></path>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tg">
  <div class="a">
    <div class="lb od qd ia">
      <div class="fc hm/2 nf">
        <div
          class="zg _a ul wow fadeInUp"
          data-wow-delay=".2s"
          style="visibility: visible; animation-delay: 0.2s"
        >
          <img src="images/about-image-2.svg" alt="image" class="ho" />
        </div>
      </div>
      <div class="fc hm/2 ql nf">
        <div
          class="cd wow fadeInUp"
          data-wow-delay=".3s"
          style="visibility: visible; animation-delay: 0.3s"
        >
          <span class="lh _g sh jb oa"> Easy to Manage Appwind </span>
          <h2 class="jh eh pk oh qh _j db">
            Manage your online wallet with Appwind.
          </h2>
          <p class="fh nh ph xa wl">
            Schedule your posts for times when your audience is most active.
            Choose from our best-time predictions, or create your own publishing
            schedule.
          </p>
          <a href="javascript:void(0)" class="mb qd lh _g sh _i">
            Get the App Now!
            <span class="sg">
              <svg width="28" height="28" viewBox="0 0 28 28" class="ff">
                <path
                  d="M16.3333 19.7633V15.0967H5.92666L5.89166 12.7517H16.3333V8.09668L22.1667 13.93L16.3333 19.7633Z"
                ></path>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
