<section class="e ea ag af cf ef xj zj yd wow fadeInUp" data-wow-delay=".2s">
  <div class="a">
    <div class="wc ka zg">
      <h1 class="jh qh _j dh il oh ll ta">Blog Grid</h1>
      <p class="kh _g ph ta">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit
        ipsum, vestibulum non odio vel, posuere posuere tortor.
      </p>
      <ul class="lb qd sd">
        <li class="lb qd">
          <a href="javascript:void(0)" class="kh _g ph yi"> Home </a>
          <span class="kh _g ph bg"> / </span>
        </li>
        <li class="kh _g sh">Blog Grid</li>
      </ul>
    </div>
  </div>
  <div class="d g m o ka fa">
    <svg
      class="fc sb"
      viewBox="0 0 1440 300"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <mask
        id="mask0_109_1705"
        style="mask-type: alpha"
        maskUnits="userSpaceOnUse"
        x="0"
        y="0"
        width="1440"
        height="300"
      >
        <rect width="1440" height="300" fill="url(#paint0_linear_109_1705)" />
      </mask>
      <g mask="url(#mask0_109_1705)">
        <path
          opacity="0.7"
          d="M1291.06 -3.15679C1175.26 243.544 983.032 314.788 901.395 319.573L872 460.514L1562.33 604.489L1702.1 -65.7031C1613.34 -147.646 1406.86 -249.858 1291.06 -3.15679Z"
          fill="url(#paint1_linear_109_1705)"
        />
        <path
          opacity="0.5"
          d="M1222.49 9.45347C1172.63 310.802 986.959 446.139 900.353 476.139L911.528 637.115L1699.98 582.38L1646.84 -183.078C1526.17 -244.463 1272.34 -291.895 1222.49 9.45347Z"
          fill="url(#paint2_linear_109_1705)"
        />
        <path
          opacity="0.7"
          d="M149.358 308.718C222.688 88.7382 378.04 9.42554 446.549 -2.73335L457.377 -124.754L-140.275 -177.786L-191.761 402.434C-108.609 462.853 76.0275 528.697 149.358 308.718Z"
          fill="url(#paint3_linear_109_1705)"
        />
        <path
          opacity="0.5"
          d="M240.436 277.93C254.739 -27.18 423.33 -183.285 505.837 -223.198L475.93 -381.766L-300.729 -235.281L-158.516 518.725C-31.4918 565.589 226.133 583.039 240.436 277.93Z"
          fill="url(#paint4_linear_109_1705)"
        />
      </g>
      <defs>
        <linearGradient
          id="paint0_linear_109_1705"
          x1="1440"
          y1="149.664"
          x2="-32.6283"
          y2="149.664"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#E4F2FE" />
          <stop offset="1" stop-color="#FFEEFE" />
        </linearGradient>
        <linearGradient
          id="paint1_linear_109_1705"
          x1="995.731"
          y1="-66.5516"
          x2="1096.08"
          y2="471.23"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="paint2_linear_109_1705"
          x1="884.631"
          y1="30.9273"
          x2="1156.5"
          y2="580.496"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="paint3_linear_109_1705"
          x1="405.219"
          y1="332.927"
          x2="266.963"
          y2="-111.532"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="paint4_linear_109_1705"
          x1="573.471"
          y1="217.127"
          x2="239.254"
          y2="-296.913"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
      </defs>
    </svg>
  </div>
</section>

<section id="blog" class="cg">
  <div class="a">
    <div class="lb od ia">
      <div class="fc hm/2 nf">
        <div class="rb e yd be na wow fadeInUp" data-wow-delay=".2s">
          <img src="images/blog-4.jpg" alt="image" class="fc sb hf if" />
          <div class="d fc sb g m lb pd _e bf df">
            <div class="jf fc wd lb pd td">
              <div class="yc w-full">
                <h3>
                  <a href="blog-details.html" class="jh bh rh yi oa jb">
                    50+ High rated online banking mobile apps on playstore.
                  </a>
                </h3>
                <a href="blog-details.html" class="kh _g rh">
                  Continue reading...
                </a>
              </div>
              <div class="lb qd td">
                <a
                  href="blog-details.html"
                  class="rh yi"
                  name="read-more"
                  aria-label="read-more"
                >
                  <svg width="32" height="32" viewBox="0 0 32 32" class="ff">
                    <path
                      d="M18.6667 22.5868V17.2534H6.77334L6.73334 14.5734H18.6667V9.25342L25.3333 15.9201L18.6667 22.5868Z"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fc hm/2 nf">
        <div class="rb e yd be na wow fadeInUp" data-wow-delay=".25s">
          <img src="images/blog-5.jpg" alt="image" class="fc sb hf if" />
          <div class="d fc sb g m lb pd _e bf df">
            <div class="jf fc wd lb pd td">
              <div class="yc w-full">
                <h3>
                  <a href="blog-details.html" class="jh bh rh yi oa jb">
                    Want to use Growup in your organization?
                  </a>
                </h3>
                <a href="blog-details.html" class="kh _g rh">
                  Continue reading...
                </a>
              </div>
              <div class="lb qd td">
                <a
                  href="blog-details.html"
                  class="rh yi"
                  name="read-more"
                  aria-label="read-more"
                >
                  <svg width="32" height="32" viewBox="0 0 32 32" class="ff">
                    <path
                      d="M18.6667 22.5868V17.2534H6.77334L6.73334 14.5734H18.6667V9.25342L25.3333 15.9201L18.6667 22.5868Z"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fc hm/2 nf">
        <div class="rb e yd be na wow fadeInUp" data-wow-delay=".3s">
          <img src="images/blog-4.jpg" alt="image" class="fc sb hf if" />
          <div class="d fc sb g m lb pd _e bf df">
            <div class="jf fc wd lb pd td">
              <div class="yc w-full">
                <h3>
                  <a href="blog-details.html" class="jh bh rh yi oa jb">
                    50+ High rated online banking mobile apps on playstore.
                  </a>
                </h3>
                <a href="blog-details.html" class="kh _g rh">
                  Continue reading...
                </a>
              </div>
              <div class="lb qd td">
                <a
                  href="blog-details.html"
                  class="rh yi"
                  name="read-more"
                  aria-label="read-more"
                >
                  <svg width="32" height="32" viewBox="0 0 32 32" class="ff">
                    <path
                      d="M18.6667 22.5868V17.2534H6.77334L6.73334 14.5734H18.6667V9.25342L25.3333 15.9201L18.6667 22.5868Z"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fc hm/2 nf">
        <div class="rb e yd be na wow fadeInUp" data-wow-delay=".2s">
          <img src="images/blog-6.jpg" alt="image" class="fc sb hf if" />
          <div class="d fc sb g m lb pd _e bf df">
            <div class="jf fc wd lb pd td">
              <div class="yc w-full">
                <h3>
                  <a href="blog-details.html" class="jh bh rh yi oa jb">
                    50+ High rated online banking mobile apps on playstore.
                  </a>
                </h3>
                <a href="blog-details.html" class="kh _g rh">
                  Continue reading...
                </a>
              </div>
              <div class="lb qd td">
                <a
                  href="blog-details.html"
                  class="rh yi"
                  name="read-more"
                  aria-label="read-more"
                >
                  <svg width="32" height="32" viewBox="0 0 32 32" class="ff">
                    <path
                      d="M18.6667 22.5868V17.2534H6.77334L6.73334 14.5734H18.6667V9.25342L25.3333 15.9201L18.6667 22.5868Z"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fc hm/2 nf">
        <div class="rb e yd be na wow fadeInUp" data-wow-delay=".25s">
          <img src="images/blog-7.jpg" alt="image" class="fc sb hf if" />
          <div class="d fc sb g m lb pd _e bf df">
            <div class="jf fc wd lb pd td">
              <div class="yc w-full">
                <h3>
                  <a href="blog-details.html" class="jh bh rh yi oa jb">
                    50+ High rated online banking mobile apps on playstore.
                  </a>
                </h3>
                <a href="blog-details.html" class="kh _g rh">
                  Continue reading...
                </a>
              </div>
              <div class="lb qd td">
                <a
                  href="blog-details.html"
                  class="rh yi"
                  name="read-more"
                  aria-label="read-more"
                >
                  <svg width="32" height="32" viewBox="0 0 32 32" class="ff">
                    <path
                      d="M18.6667 22.5868V17.2534H6.77334L6.73334 14.5734H18.6667V9.25342L25.3333 15.9201L18.6667 22.5868Z"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fc hm/2 nf">
        <div class="rb e yd be na wow fadeInUp" data-wow-delay=".3s">
          <img src="images/blog-8.jpg" alt="image" class="fc sb hf if" />
          <div class="d fc sb g m lb pd _e bf df">
            <div class="jf fc wd lb pd td">
              <div class="yc w-full">
                <h3>
                  <a href="details" class="jh bh rh yi oa jb">
                    50+ High rated online banking mobile apps on playstore.
                  </a>
                </h3>
                <a href="blog-details.html" class="kh _g rh">
                  Continue reading...
                </a>
              </div>
              <div class="lb qd td">
                <a
                  href="blog-details.html"
                  class="rh yi"
                  name="read-more"
                  aria-label="read-more"
                >
                  <svg width="32" height="32" viewBox="0 0 32 32" class="ff">
                    <path
                      d="M18.6667 22.5868V17.2534H6.77334L6.73334 14.5734H18.6667V9.25342L25.3333 15.9201L18.6667 22.5868Z"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lb sd ia">
      <div class="fc zg ng bn nf">
        <div
          class="ka mb af cf ef yj zj zd nf wf xd wow fadeInUp"
          data-wow-delay=".2s"
        >
          <a
            href="javascript:void(0)"
            class="nc xb _k vk lb qd sd ce re sj qh _j ck kh ah jl wi zi"
          >
            <svg viewBox="0 0 24 24" class="ff oc yb yk tk">
              <path
                d="M9.99995 7.06006L9.99995 11.0601L18.92 11.0601L18.95 13.0701L9.99995 13.0701L9.99995 17.0601L4.99995 12.0601L9.99995 7.06006Z"
              />
            </svg>
          </a>
          <a
            href="javascript:void(0)"
            class="nc xb _k vk lb qd sd ce re sj qh _j ck kh ah jl wi zi"
          >
            1
          </a>
          <a
            href="javascript:void(0)"
            class="nc xb _k vk lb qd sd ce re sj qh _j ck kh ah jl wi zi"
          >
            ...
          </a>
          <a
            href="javascript:void(0)"
            class="nc xb _k vk lb qd sd ce re sj qh _j ck kh ah jl wi zi"
          >
            4
          </a>
          <a
            href="javascript:void(0)"
            class="nc xb _k vk lb qd sd ce re sj qh _j ck kh ah jl wi zi"
          >
            5
          </a>
          <a
            href="javascript:void(0)"
            class="nc xb _k vk lb qd sd ce re sj qh _j ck kh ah jl wi zi"
          >
            6
          </a>
          <a
            href="javascript:void(0)"
            class="nc xb _k vk lb qd sd ce re sj qh _j ck kh ah jl wi zi"
          >
            <svg viewBox="0 0 24 24" class="ff oc yb yk tk">
              <path
                d="M14.0001 16.9399L14 12.9399L5.08005 12.9399L5.05005 10.9299L14 10.9299L14 6.93994L19 11.9399L14.0001 16.9399Z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
