<section id="contact" class="cg yd">
  <div class="a">
    <div class="lb sd ia">
      <div class="fc nf">
        <div
          class="bd ka zg cb wow fadeInUp"
          data-wow-delay=".2s"
          style="visibility: visible; animation-delay: 0.2s"
        >
          <h2 class="jh eh pk qh _j ta">Need Any Help?</h2>
          <p class="kh _g ph">
            There are many variations of passages of Lorem Ipsum available but
            the majority have suffered alteration in some form.
          </p>
        </div>
      </div>
    </div>
    <div
      class="fd ka bi fe e re sj ea wow fadeInUp"
      data-wow-delay=".3s"
      style="visibility: visible; animation-delay: 0.3s"
    >
      <div class="eg fg lk re uj fe he qe rj">
        <form action="https://formbold.com/s/unique_form_id" method="POST">
          <div class="lb od ia">
            <div class="fc zk/2 nf">
              <div class="db">
                <label for="" class="jb kh _g qh _j va"> First Name </label>
                <input
                  type="text"
                  placeholder="Enter your first name"
                  class="fc kh ah ph _f jg zd he qe rj ve sj ci th fj dj"
                />
              </div>
            </div>
            <div class="fc zk/2 nf">
              <div class="db">
                <label for="" class="jb kh _g qh _j va"> Last Name </label>
                <input
                  type="text"
                  placeholder="Enter your last name"
                  class="fc kh ah ph _f jg zd he qe rj ve sj ci th fj dj"
                />
              </div>
            </div>
            <div class="fc zk/2 nf">
              <div class="db">
                <label for="" class="jb kh _g qh _j va"> Business email </label>
                <input
                  type="email"
                  placeholder="Enter your email"
                  class="fc kh ah ph _f jg zd he qe rj ve sj ci th fj dj"
                />
              </div>
            </div>
            <div class="fc zk/2 nf">
              <div class="db">
                <label for="" class="jb kh _g qh _j va"> Phone number </label>
                <input
                  type="text"
                  placeholder="Enter your phone number"
                  class="fc kh ah ph _f jg zd he qe rj ve sj ci th fj dj"
                />
              </div>
            </div>
            <div class="fc nf">
              <div class="ua">
                <label for="" class="jb kh _g qh _j va">
                  What are you looking for?
                </label>
                <textarea
                  rows="5"
                  placeholder="Enter your message"
                  class="fc kh ah ph _f jg zd he qe rj ve sj ci th fj dj ld"
                ></textarea>
              </div>
            </div>
            <div class="fc nf">
              <div class="zg">
                <button class="lh _g rh te be wf dg zg aj">
                  Submit Message
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div>
        <span class="d q aa fa">
          <svg
            width="126"
            height="156"
            viewBox="0 0 126 156"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M62.9999 126C97.8032 126 126 97.7947 126 63C126 28.2053 97.8032 0 62.9999 0C28.2137 0 -6.10352e-05 28.2053 -6.10352e-05 63C-6.10352e-05 97.7947 28.2137 126 62.9999 126Z"
              fill="url(#paint0_radial_100_549)"
            ></path>
            <circle
              cx="45.3482"
              cy="119.68"
              r="1.72625"
              transform="rotate(-120 45.3482 119.68)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="71.3609"
              cy="104.662"
              r="1.72625"
              transform="rotate(-120 71.3609 104.662)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="32.7905"
              cy="126.931"
              r="1.72625"
              transform="rotate(-120 32.7905 126.931)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="58.2051"
              cy="112.258"
              r="1.72625"
              transform="rotate(-120 58.2051 112.258)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="84.2176"
              cy="97.2391"
              r="1.72625"
              transform="rotate(-120 84.2176 97.2391)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="60.3668"
              cy="145.693"
              r="1.72625"
              transform="rotate(-120 60.3668 145.693)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="37.7528"
              cy="106.525"
              r="1.72625"
              transform="rotate(-120 37.7528 106.525)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="86.3793"
              cy="130.675"
              r="1.72625"
              transform="rotate(-120 86.3793 130.675)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="63.7654"
              cy="91.5066"
              r="1.72625"
              transform="rotate(-120 63.7654 91.5066)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="47.809"
              cy="152.944"
              r="1.72625"
              transform="rotate(-120 47.809 152.944)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="25.195"
              cy="113.775"
              r="1.72625"
              transform="rotate(-120 25.195 113.775)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="73.2235"
              cy="138.27"
              r="1.72625"
              transform="rotate(-120 73.2235 138.27)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="50.6096"
              cy="99.1019"
              r="1.72625"
              transform="rotate(-120 50.6096 99.1019)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="99.2361"
              cy="123.252"
              r="1.72625"
              transform="rotate(-120 99.2361 123.252)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="76.6221"
              cy="84.0833"
              r="1.72625"
              transform="rotate(-120 76.6221 84.0833)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="52.7713"
              cy="132.537"
              r="1.72625"
              transform="rotate(-120 52.7713 132.537)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="30.1573"
              cy="93.3689"
              r="1.72625"
              transform="rotate(-120 30.1573 93.3689)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="78.7839"
              cy="117.519"
              r="1.72625"
              transform="rotate(-120 78.7839 117.519)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="56.17"
              cy="78.3504"
              r="1.72625"
              transform="rotate(-120 56.17 78.3504)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="40.2136"
              cy="139.788"
              r="1.72625"
              transform="rotate(-120 40.2136 139.788)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="17.5996"
              cy="100.619"
              r="1.72625"
              transform="rotate(-120 17.5996 100.619)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="65.6281"
              cy="125.115"
              r="1.72625"
              transform="rotate(-120 65.6281 125.115)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="43.0141"
              cy="85.9466"
              r="1.72625"
              transform="rotate(-120 43.0141 85.9466)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="91.6406"
              cy="110.096"
              r="1.72625"
              transform="rotate(-120 91.6406 110.096)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="69.0267"
              cy="70.9275"
              r="1.72625"
              transform="rotate(-120 69.0267 70.9275)"
              fill="#8B5CF6"
            ></circle>
            <defs>
              <radialgradient
                id="paint0_radial_100_549"
                cx="0"
                cy="0"
                r="1"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(62.9999) rotate(90) scale(126)"
              >
                <stop stop-color="white"></stop>
                <stop offset="0.569" stop-color="#E4F2FE"></stop>
                <stop offset="0.993" stop-color="#D2E2EF"></stop>
              </radialgradient>
            </defs>
          </svg>
        </span>
        <span class="d ba ca fa">
          <svg
            width="161"
            height="189"
            viewBox="0 0 161 189"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M160.578 80.5879C160.578 36.3933 124.762 0.587885 80.5784 0.587887C36.3946 0.587889 0.578432 36.3933 0.578434 80.5879C0.578436 124.761 36.3947 160.588 80.5784 160.588C124.762 160.588 160.578 124.761 160.578 80.5879Z"
              fill="url(#paint0_radial_100_548)"
            ></path>
            <circle
              cx="93.1069"
              cy="153.111"
              r="1.72625"
              transform="rotate(-120 93.1069 153.111)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="119.12"
              cy="138.093"
              r="1.72625"
              transform="rotate(-120 119.12 138.093)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="80.5492"
              cy="160.362"
              r="1.72625"
              transform="rotate(-120 80.5492 160.362)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="105.964"
              cy="145.688"
              r="1.72625"
              transform="rotate(-120 105.964 145.688)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="131.976"
              cy="130.67"
              r="1.72625"
              transform="rotate(-120 131.976 130.67)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="108.125"
              cy="179.124"
              r="1.72625"
              transform="rotate(-120 108.125 179.124)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="85.5115"
              cy="139.955"
              r="1.72625"
              transform="rotate(-120 85.5115 139.955)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="134.138"
              cy="164.105"
              r="1.72625"
              transform="rotate(-120 134.138 164.105)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="111.524"
              cy="124.937"
              r="1.72625"
              transform="rotate(-120 111.524 124.937)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="95.5677"
              cy="186.374"
              r="1.72625"
              transform="rotate(-120 95.5677 186.374)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="72.9537"
              cy="147.206"
              r="1.72625"
              transform="rotate(-120 72.9537 147.206)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="120.982"
              cy="171.701"
              r="1.72625"
              transform="rotate(-120 120.982 171.701)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="98.3683"
              cy="132.533"
              r="1.72625"
              transform="rotate(-120 98.3683 132.533)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="146.995"
              cy="156.682"
              r="1.72625"
              transform="rotate(-120 146.995 156.682)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="124.381"
              cy="117.514"
              r="1.72625"
              transform="rotate(-120 124.381 117.514)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="100.53"
              cy="165.968"
              r="1.72625"
              transform="rotate(-120 100.53 165.968)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="77.916"
              cy="126.8"
              r="1.72625"
              transform="rotate(-120 77.916 126.8)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="126.543"
              cy="150.95"
              r="1.72625"
              transform="rotate(-120 126.543 150.95)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="103.929"
              cy="111.781"
              r="1.72625"
              transform="rotate(-120 103.929 111.781)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="87.9723"
              cy="173.219"
              r="1.72625"
              transform="rotate(-120 87.9723 173.219)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="65.3583"
              cy="134.05"
              r="1.72625"
              transform="rotate(-120 65.3583 134.05)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="113.387"
              cy="158.546"
              r="1.72625"
              transform="rotate(-120 113.387 158.546)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="90.7728"
              cy="119.377"
              r="1.72625"
              transform="rotate(-120 90.7728 119.377)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="139.399"
              cy="143.527"
              r="1.72625"
              transform="rotate(-120 139.399 143.527)"
              fill="#8B5CF6"
            ></circle>
            <circle
              cx="116.785"
              cy="104.358"
              r="1.72625"
              transform="rotate(-120 116.785 104.358)"
              fill="#8B5CF6"
            ></circle>
            <defs>
              <radialgradient
                id="paint0_radial_100_548"
                cx="0"
                cy="0"
                r="1"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(0.578434 80.5879) scale(160)"
              >
                <stop stop-color="white"></stop>
                <stop offset="0.569" stop-color="#FFEEFE"></stop>
                <stop offset="0.993" stop-color="#F1C6EF"></stop>
              </radialgradient>
            </defs>
          </svg>
        </span>
      </div>
    </div>
  </div>
</section>
