

<section id="pricing" class="lg">
    <div class="a">
    <div class="lb sd ia">
    <div class="fc nf">
    <div class="bd ka zg cb wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;">
    <h2 class="jh eh pk qh _j ta">
    Flexible Plans
    </h2>
    <p class="kh _g ph">
    There are many variations of passages of Lorem Ipsum available
    but the majority have suffered alteration in some form.
    </p>
    </div>
    </div>
    </div>
    <div class="lb od ia">
    <div class="fc zk/2 hm/3 nf">
    <div class="e yd eg fg kk el vm yn 2xl:ud-px-12 de ie ne pj xa wow fadeInUp" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s;">
    <span class="lh bh qh _j oa jb">
    Basic Plan
    </span>
    <h3 class="lh qh _j hh">
    $35
    <span class="mh _g ph _j">
    /month
    </span>
    </h3>
    <div class="vg ud">
    <p class="lb qd kh _g ph">
    <span class="ug">
    <svg width="20" height="20" viewBox="0 0 20 20" class="ff">
    <path d="M17.5 5.83333L7.50002 15.8333L2.91669 11.25L4.09169 10.075L7.50002 13.475L16.325 4.65833L17.5 5.83333Z"></path>
    </svg>
    </span>
    Life time free updates!
    </p>
    <p class="lb qd kh _g ph">
    <span class="ug">
    <svg width="20" height="20" viewBox="0 0 20 20" class="ff">
    <path d="M17.5 5.83333L7.50002 15.8333L2.91669 11.25L4.09169 10.075L7.50002 13.475L16.325 4.65833L17.5 5.83333Z"></path>
    </svg>
    </span>
    Unlimited transactions
    </p>
    <p class="lb qd kh _g ph">
    <span class="ug">
    <svg width="20" height="20" viewBox="0 0 20 20" class="ff">
    <path d="M17.5 5.83333L7.50002 15.8333L2.91669 11.25L4.09169 10.075L7.50002 13.475L16.325 4.65833L17.5 5.83333Z"></path>
    </svg>
    </span>
    Free credit-card
    </p>
    <p class="lb qd kh _g ph">
    <span class="ug">
    <svg width="20" height="20" viewBox="0 0 20 20" class="ff">
    <path d="M17.5 5.83333L7.50002 15.8333L2.91669 11.25L4.09169 10.075L7.50002 13.475L16.325 4.65833L17.5 5.83333Z"></path>
    </svg>
    </span>
    1 year premium support
    </p>
    </div>
    <div class="wg">
    <a href="javascript:void(0)" class="te fc lb qd sd rh _g lh mf be ii aj">
    Choose Basic Plan
    </a>
    </div>
    <div>
    <span class="d g m fa">
    <svg width="294" height="190" viewBox="0 0 294 190" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M199.25 163.88C109.57 215.656 -5.10297 184.93 -56.8797 95.2499C-108.656 5.57007 -77.9297 -109.103 11.7501 -160.88C101.43 -212.656 216.103 -181.93 267.88 -92.25C319.657 -2.57014 288.93 112.103 199.25 163.88Z" fill="url(#paint0_linear_100_168)"></path>
    <defs>
    <lineargradient id="paint0_linear_100_168" x1="-53.0679" y1="-96.4761" x2="331.837" y2="237.372" gradientUnits="userSpaceOnUse">
    <stop stop-color="#E4F2FE"></stop>
    <stop offset="1" stop-color="#E4F2FE" stop-opacity="0"></stop>
    </lineargradient>
     </defs>
    </svg>
    </span>
    <span class="d g o fa">
    <svg width="138" height="104" viewBox="0 0 138 104" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M161 23.5C161 67.9589 124.959 104 80.5 104C36.0411 104 0 67.9589 0 23.5C0 -20.9589 36.0411 -57 80.5 -57C124.959 -57 161 -20.9589 161 23.5Z" fill="url(#paint0_linear_100_167)"></path>
    <defs>
    <lineargradient id="paint0_linear_100_167" x1="149.5" y1="72.5" x2="-51.5" y2="-35" gradientUnits="userSpaceOnUse">
    <stop stop-color="#FFEEFE"></stop>
    <stop offset="1" stop-color="#FFEEFE" stop-opacity="0"></stop>
    </lineargradient>
    </defs>
    </svg>
    </span>
    <span class="d g u fa">
    <svg width="63" height="30" viewBox="0 0 63 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="7.21563" cy="10.1013" r="1.14106" transform="rotate(-118.771 7.21563 10.1013)" fill="#8B5CF6"></circle>
    <circle cx="24.8191" cy="0.43515" r="1.14106" transform="rotate(-118.771 24.8191 0.43515)" fill="#8B5CF6"></circle>
    <circle cx="16.7716" cy="27.5037" r="1.14106" transform="rotate(-118.771 16.7716 27.5037)" fill="#8B5CF6"></circle>
    <circle cx="2.38256" cy="1.2995" r="1.14106" transform="rotate(-118.771 2.38256 1.2995)" fill="#8B5CF6"></circle>
    <circle cx="25.5737" cy="22.6717" r="1.14106" transform="rotate(-118.771 25.5737 22.6717)" fill="#8B5CF6"></circle>
    <circle cx="34.3754" cy="17.8386" r="1.14106" transform="rotate(-118.771 34.3754 17.8386)" fill="#8B5CF6"></circle>
    <circle cx="43.1771" cy="13.0056" r="1.14106" transform="rotate(-118.771 43.1771 13.0056)" fill="#8B5CF6"></circle>
    <circle cx="51.9788" cy="8.17249" r="1.14106" transform="rotate(-118.771 51.9788 8.17249)" fill="#8B5CF6"></circle>
    <circle cx="60.5805" cy="3.44925" r="1.14106" transform="rotate(-118.771 60.5805 3.44925)" fill="#8B5CF6"></circle>
    <circle cx="11.9389" cy="18.7029" r="1.14106" transform="rotate(-118.771 11.9389 18.7029)" fill="#8B5CF6"></circle>
    <circle cx="20.7405" cy="13.8698" r="1.14106" transform="rotate(-118.771 20.7405 13.8698)" fill="#8B5CF6"></circle>
    <circle cx="29.5423" cy="9.0368" r="1.14106" transform="rotate(-118.771 29.5423 9.0368)" fill="#8B5CF6"></circle>
    <circle cx="38.344" cy="4.2038" r="1.14106" transform="rotate(-118.771 38.344 4.2038)" fill="#8B5CF6"></circle>
    <circle cx="47.1458" cy="-0.62915" r="1.14106" transform="rotate(-118.771 47.1458 -0.62915)" fill="#8B5CF6"></circle>
    </svg>
    </span>
    </div>
    </div>
    </div>
    <div class="fc zk/2 hm/3 nf">
    <div class="e yd eg fg kk el vm yn 2xl:ud-px-12 de ie oe xa wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s;">
    <span class="lh bh qh _j oa jb">
    Popular Plan
    </span>
    <h3 class="lh qh _j hh">
    $99
    <span class="mh _g ph _j">
    /month
    </span>
    </h3>
    <div class="vg ud">
    <p class="lb qd kh _g ph">
    <span class="ug">
    <svg width="20" height="20" viewBox="0 0 20 20" class="ff">
    <path d="M17.5 5.83333L7.50002 15.8333L2.91669 11.25L4.09169 10.075L7.50002 13.475L16.325 4.65833L17.5 5.83333Z"></path>
    </svg>
    </span>
    Life time free updates!
    </p>
    <p class="lb qd kh _g ph">
    <span class="ug">
    <svg width="20" height="20" viewBox="0 0 20 20" class="ff">
    <path d="M17.5 5.83333L7.50002 15.8333L2.91669 11.25L4.09169 10.075L7.50002 13.475L16.325 4.65833L17.5 5.83333Z"></path>
    </svg>
    </span>
    Unlimited transactions
    </p>
    <p class="lb qd kh _g ph">
    <span class="ug">
    <svg width="20" height="20" viewBox="0 0 20 20" class="ff">
    <path d="M17.5 5.83333L7.50002 15.8333L2.91669 11.25L4.09169 10.075L7.50002 13.475L16.325 4.65833L17.5 5.83333Z"></path>
    </svg>
    </span>
    Free credit-card
    </p>
    <p class="lb qd kh _g ph">
    <span class="ug">
    <svg width="20" height="20" viewBox="0 0 20 20" class="ff">
    <path d="M17.5 5.83333L7.50002 15.8333L2.91669 11.25L4.09169 10.075L7.50002 13.475L16.325 4.65833L17.5 5.83333Z"></path>
    </svg>
    </span>
    2 year premium support
    </p>
    </div>
    <div class="wg">
    <a href="javascript:void(0)" class="te fc lb qd sd rh _g lh mf be ii aj">
    Choose Popular Plan
    </a>
    </div>
    <div>
    <span class="d g m fa">
    <svg width="294" height="190" viewBox="0 0 294 190" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M199.25 163.88C109.57 215.656 -5.10297 184.93 -56.8797 95.2499C-108.656 5.57007 -77.9297 -109.103 11.7501 -160.88C101.43 -212.656 216.103 -181.93 267.88 -92.25C319.657 -2.57014 288.93 112.103 199.25 163.88Z" fill="url(#paint0_linear_100_168)"></path>
    <defs>
    <lineargradient id="paint0_linear_100_168" x1="-53.0679" y1="-96.4761" x2="331.837" y2="237.372" gradientUnits="userSpaceOnUse">
    <stop stop-color="#E4F2FE"></stop>
    <stop offset="1" stop-color="#E4F2FE" stop-opacity="0"></stop>
    </lineargradient>
    </defs>
    </svg>
    </span>
    <span class="d g o fa">
    <svg width="138" height="104" viewBox="0 0 138 104" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M161 23.5C161 67.9589 124.959 104 80.5 104C36.0411 104 0 67.9589 0 23.5C0 -20.9589 36.0411 -57 80.5 -57C124.959 -57 161 -20.9589 161 23.5Z" fill="url(#paint0_linear_100_167)"></path>
    <defs>
    <lineargradient id="paint0_linear_100_167" x1="149.5" y1="72.5" x2="-51.5" y2="-35" gradientUnits="userSpaceOnUse">
    <stop stop-color="#FFEEFE"></stop>
    <stop offset="1" stop-color="#FFEEFE" stop-opacity="0"></stop>
    </lineargradient>
    </defs>
    </svg>
    </span>
    <span class="d g u fa">
    <svg width="63" height="30" viewBox="0 0 63 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="7.21563" cy="10.1013" r="1.14106" transform="rotate(-118.771 7.21563 10.1013)" fill="#8B5CF6"></circle>
    <circle cx="24.8191" cy="0.43515" r="1.14106" transform="rotate(-118.771 24.8191 0.43515)" fill="#8B5CF6"></circle>
    <circle cx="16.7716" cy="27.5037" r="1.14106" transform="rotate(-118.771 16.7716 27.5037)" fill="#8B5CF6"></circle>
    <circle cx="2.38256" cy="1.2995" r="1.14106" transform="rotate(-118.771 2.38256 1.2995)" fill="#8B5CF6"></circle>
    <circle cx="25.5737" cy="22.6717" r="1.14106" transform="rotate(-118.771 25.5737 22.6717)" fill="#8B5CF6"></circle>
    <circle cx="34.3754" cy="17.8386" r="1.14106" transform="rotate(-118.771 34.3754 17.8386)" fill="#8B5CF6"></circle>
    <circle cx="43.1771" cy="13.0056" r="1.14106" transform="rotate(-118.771 43.1771 13.0056)" fill="#8B5CF6"></circle>
    <circle cx="51.9788" cy="8.17249" r="1.14106" transform="rotate(-118.771 51.9788 8.17249)" fill="#8B5CF6"></circle>
    <circle cx="60.5805" cy="3.44925" r="1.14106" transform="rotate(-118.771 60.5805 3.44925)" fill="#8B5CF6"></circle>
    <circle cx="11.9389" cy="18.7029" r="1.14106" transform="rotate(-118.771 11.9389 18.7029)" fill="#8B5CF6"></circle>
    <circle cx="20.7405" cy="13.8698" r="1.14106" transform="rotate(-118.771 20.7405 13.8698)" fill="#8B5CF6"></circle>
    <circle cx="29.5423" cy="9.0368" r="1.14106" transform="rotate(-118.771 29.5423 9.0368)" fill="#8B5CF6"></circle>
    <circle cx="38.344" cy="4.2038" r="1.14106" transform="rotate(-118.771 38.344 4.2038)" fill="#8B5CF6"></circle>
    <circle cx="47.1458" cy="-0.62915" r="1.14106" transform="rotate(-118.771 47.1458 -0.62915)" fill="#8B5CF6"></circle>
    </svg>
    </span>
    </div>
    </div>
    </div>
    <div class="fc zk/2 hm/3 nf">
    <div class="e yd eg fg sm:black-12 el vm yn 2xl:ud-px-12 de ie ne qj xa wow fadeInUp" data-wow-delay=".35s" style="visibility: visible; animation-delay: 0.35s;">
    <span class="lh bh qh _j oa jb">
    Golden Plan
    </span>
    <h3 class="lh qh _j hh">
    $159
    <span class="mh _g ph _j">
    /month
    </span>
    </h3>
    <div class="vg ud">
    <p class="lb qd kh _g ph">
    <span class="ug">
    <svg width="20" height="20" viewBox="0 0 20 20" class="ff">
    <path d="M17.5 5.83333L7.50002 15.8333L2.91669 11.25L4.09169 10.075L7.50002 13.475L16.325 4.65833L17.5 5.83333Z"></path>
    </svg>
    </span>
    Life time free updates!
    </p>
    <p class="lb qd kh _g ph">
    <span class="ug">
    <svg width="20" height="20" viewBox="0 0 20 20" class="ff">
    <path d="M17.5 5.83333L7.50002 15.8333L2.91669 11.25L4.09169 10.075L7.50002 13.475L16.325 4.65833L17.5 5.83333Z"></path>
    </svg>
    </span>
    Unlimited transactions
    </p>
    <p class="lb qd kh _g ph">
    <span class="ug">
    <svg width="20" height="20" viewBox="0 0 20 20" class="ff">
    <path d="M17.5 5.83333L7.50002 15.8333L2.91669 11.25L4.09169 10.075L7.50002 13.475L16.325 4.65833L17.5 5.83333Z"></path>
    </svg>
    </span>
    Free credit-card
    </p>
    <p class="lb qd kh _g ph">
    <span class="ug">
    <svg width="20" height="20" viewBox="0 0 20 20" class="ff">
    <path d="M17.5 5.83333L7.50002 15.8333L2.91669 11.25L4.09169 10.075L7.50002 13.475L16.325 4.65833L17.5 5.83333Z"></path>
    </svg>
    </span>
    Lifetime premium support
    </p>
    </div>
    <div class="wg">
    <a href="javascript:void(0)" class="te fc lb qd sd rh _g lh mf be ii aj">
    Choose Golden Plan
    </a>
    </div>
    <div>
    <span class="d g m fa">
    <svg width="294" height="190" viewBox="0 0 294 190" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M199.25 163.88C109.57 215.656 -5.10297 184.93 -56.8797 95.2499C-108.656 5.57007 -77.9297 -109.103 11.7501 -160.88C101.43 -212.656 216.103 -181.93 267.88 -92.25C319.657 -2.57014 288.93 112.103 199.25 163.88Z" fill="url(#paint0_linear_100_168)"></path>
    <defs>
    <lineargradient id="paint0_linear_100_168" x1="-53.0679" y1="-96.4761" x2="331.837" y2="237.372" gradientUnits="userSpaceOnUse">
    <stop stop-color="#E4F2FE"></stop>
    <stop offset="1" stop-color="#E4F2FE" stop-opacity="0"></stop>
    </lineargradient>
    </defs>
    </svg>
    </span>
    <span class="d g o fa">
    <svg width="138" height="104" viewBox="0 0 138 104" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M161 23.5C161 67.9589 124.959 104 80.5 104C36.0411 104 0 67.9589 0 23.5C0 -20.9589 36.0411 -57 80.5 -57C124.959 -57 161 -20.9589 161 23.5Z" fill="url(#paint0_linear_100_167)"></path>
    <defs>
    <lineargradient id="paint0_linear_100_167" x1="149.5" y1="72.5" x2="-51.5" y2="-35" gradientUnits="userSpaceOnUse">
    <stop stop-color="#FFEEFE"></stop>
    <stop offset="1" stop-color="#FFEEFE" stop-opacity="0"></stop>
    </lineargradient>
    </defs>
    </svg>
    </span>
    <span class="d g u fa">
    <svg width="63" height="30" viewBox="0 0 63 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="7.21563" cy="10.1013" r="1.14106" transform="rotate(-118.771 7.21563 10.1013)" fill="#8B5CF6"></circle>
    <circle cx="24.8191" cy="0.43515" r="1.14106" transform="rotate(-118.771 24.8191 0.43515)" fill="#8B5CF6"></circle>
    <circle cx="16.7716" cy="27.5037" r="1.14106" transform="rotate(-118.771 16.7716 27.5037)" fill="#8B5CF6"></circle>
    <circle cx="2.38256" cy="1.2995" r="1.14106" transform="rotate(-118.771 2.38256 1.2995)" fill="#8B5CF6"></circle>
    <circle cx="25.5737" cy="22.6717" r="1.14106" transform="rotate(-118.771 25.5737 22.6717)" fill="#8B5CF6"></circle>
    <circle cx="34.3754" cy="17.8386" r="1.14106" transform="rotate(-118.771 34.3754 17.8386)" fill="#8B5CF6"></circle>
    <circle cx="43.1771" cy="13.0056" r="1.14106" transform="rotate(-118.771 43.1771 13.0056)" fill="#8B5CF6"></circle>
    <circle cx="51.9788" cy="8.17249" r="1.14106" transform="rotate(-118.771 51.9788 8.17249)" fill="#8B5CF6"></circle>
    <circle cx="60.5805" cy="3.44925" r="1.14106" transform="rotate(-118.771 60.5805 3.44925)" fill="#8B5CF6"></circle>
    <circle cx="11.9389" cy="18.7029" r="1.14106" transform="rotate(-118.771 11.9389 18.7029)" fill="#8B5CF6"></circle>
    <circle cx="20.7405" cy="13.8698" r="1.14106" transform="rotate(-118.771 20.7405 13.8698)" fill="#8B5CF6"></circle>
    <circle cx="29.5423" cy="9.0368" r="1.14106" transform="rotate(-118.771 29.5423 9.0368)" fill="#8B5CF6"></circle>
    <circle cx="38.344" cy="4.2038" r="1.14106" transform="rotate(-118.771 38.344 4.2038)" fill="#8B5CF6"></circle>
    <circle cx="47.1458" cy="-0.62915" r="1.14106" transform="rotate(-118.771 47.1458 -0.62915)" fill="#8B5CF6"></circle>
    </svg>
    </span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    