<section id="testimonial" class="tg">
  <div class="ue uj lg xg">
    <div class="a">
      <div class="lb sd ia">
        <div class="fc nf">
          <div
            class="bd ka zg cb wow fadeInUp"
            data-wow-delay=".2s"
            style="visibility: visible; animation-delay: 0.2s"
          >
            <h2 class="jh eh pk qh _j ta">What Clients Say?</h2>
            <p class="kh _g ph">
              There are many variations of passages of Lorem Ipsum available but
              the majority have suffered alteration in some form.
            </p>
          </div>
        </div>
      </div>
      <div class="lb od ia rl mn">
        <div class="fc zk/2 hm/3 nf wm zn">
          <div
            class="re sj lf sm vm vn de ge e ea yd ua gj wi ii ai wow fadeInUp"
            data-wow-delay=".25s"
            style="visibility: visible; animation-delay: 0.25s"
          >
            <p class="lh _g qh _j ya jj">
              Lorem ipsum dolor sit amet, consect adipiscing elit. Pellentesque
              dignissim nisi a odio laoreet luctus. Ut sed diam, quis bibendum
              ex.
            </p>
            <div class="lb qd">
              <div class="sc dc ae yd qa">
                <img src="images/image-1.png" alt="image" class="fc" />
              </div>
              <div>
                <h3 class="lh ah qh _j jj">Musharof Chowdhury</h3>
                <p class="kh gh ph jj kj">Web Entrepreneur</p>
              </div>
            </div>
            <span class="d g o fa sh jj">
              <svg width="63" height="30" viewBox="0 0 63 30" class="ff">
                <circle
                  cx="7.21563"
                  cy="10.1013"
                  r="1.14106"
                  transform="rotate(-118.771 7.21563 10.1013)"
                ></circle>
                <circle
                  cx="24.8191"
                  cy="0.43515"
                  r="1.14106"
                  transform="rotate(-118.771 24.8191 0.43515)"
                ></circle>
                <circle
                  cx="16.7716"
                  cy="27.5037"
                  r="1.14106"
                  transform="rotate(-118.771 16.7716 27.5037)"
                ></circle>
                <circle
                  cx="2.38256"
                  cy="1.2995"
                  r="1.14106"
                  transform="rotate(-118.771 2.38256 1.2995)"
                ></circle>
                <circle
                  cx="25.5737"
                  cy="22.6717"
                  r="1.14106"
                  transform="rotate(-118.771 25.5737 22.6717)"
                ></circle>
                <circle
                  cx="34.3754"
                  cy="17.8386"
                  r="1.14106"
                  transform="rotate(-118.771 34.3754 17.8386)"
                ></circle>
                <circle
                  cx="43.1771"
                  cy="13.0056"
                  r="1.14106"
                  transform="rotate(-118.771 43.1771 13.0056)"
                ></circle>
                <circle
                  cx="51.9788"
                  cy="8.17249"
                  r="1.14106"
                  transform="rotate(-118.771 51.9788 8.17249)"
                ></circle>
                <circle
                  cx="60.5805"
                  cy="3.44925"
                  r="1.14106"
                  transform="rotate(-118.771 60.5805 3.44925)"
                ></circle>
                <circle
                  cx="11.9389"
                  cy="18.7029"
                  r="1.14106"
                  transform="rotate(-118.771 11.9389 18.7029)"
                ></circle>
                <circle
                  cx="20.7405"
                  cy="13.8698"
                  r="1.14106"
                  transform="rotate(-118.771 20.7405 13.8698)"
                ></circle>
                <circle
                  cx="29.5423"
                  cy="9.0368"
                  r="1.14106"
                  transform="rotate(-118.771 29.5423 9.0368)"
                ></circle>
                <circle
                  cx="38.344"
                  cy="4.2038"
                  r="1.14106"
                  transform="rotate(-118.771 38.344 4.2038)"
                ></circle>
                <circle
                  cx="47.1458"
                  cy="-0.62915"
                  r="1.14106"
                  transform="rotate(-118.771 47.1458 -0.62915)"
                ></circle>
              </svg>
            </span>
          </div>
        </div>
        <div class="fc zk/2 hm/3 nf wm zn">
          <div
            class="re sj lf sm vm vn de ge e ea yd ua gj wi ii ai wow fadeInUp"
            data-wow-delay=".3s"
            style="visibility: visible; animation-delay: 0.3s"
          >
            <p class="lh _g qh _j ya jj">
              Lorem ipsum dolor sit amet, consect adipiscing elit. Pellentesque
              dignissim nisi a odio laoreet luctus. Ut sed diam, quis bibendum
              ex.
            </p>
            <div class="lb qd">
              <div class="sc dc ae yd qa">
                <img src="images/image-2.png" alt="image" class="fc" />
              </div>
              <div>
                <h3 class="lh ah qh _j jj">Alex Glorio</h3>
                <p class="kh gh ph jj kj">Graphics Designer</p>
              </div>
            </div>
            <span class="d g o fa sh jj">
              <svg width="63" height="30" viewBox="0 0 63 30" class="ff">
                <circle
                  cx="7.21563"
                  cy="10.1013"
                  r="1.14106"
                  transform="rotate(-118.771 7.21563 10.1013)"
                ></circle>
                <circle
                  cx="24.8191"
                  cy="0.43515"
                  r="1.14106"
                  transform="rotate(-118.771 24.8191 0.43515)"
                ></circle>
                <circle
                  cx="16.7716"
                  cy="27.5037"
                  r="1.14106"
                  transform="rotate(-118.771 16.7716 27.5037)"
                ></circle>
                <circle
                  cx="2.38256"
                  cy="1.2995"
                  r="1.14106"
                  transform="rotate(-118.771 2.38256 1.2995)"
                ></circle>
                <circle
                  cx="25.5737"
                  cy="22.6717"
                  r="1.14106"
                  transform="rotate(-118.771 25.5737 22.6717)"
                ></circle>
                <circle
                  cx="34.3754"
                  cy="17.8386"
                  r="1.14106"
                  transform="rotate(-118.771 34.3754 17.8386)"
                ></circle>
                <circle
                  cx="43.1771"
                  cy="13.0056"
                  r="1.14106"
                  transform="rotate(-118.771 43.1771 13.0056)"
                ></circle>
                <circle
                  cx="51.9788"
                  cy="8.17249"
                  r="1.14106"
                  transform="rotate(-118.771 51.9788 8.17249)"
                ></circle>
                <circle
                  cx="60.5805"
                  cy="3.44925"
                  r="1.14106"
                  transform="rotate(-118.771 60.5805 3.44925)"
                ></circle>
                <circle
                  cx="11.9389"
                  cy="18.7029"
                  r="1.14106"
                  transform="rotate(-118.771 11.9389 18.7029)"
                ></circle>
                <circle
                  cx="20.7405"
                  cy="13.8698"
                  r="1.14106"
                  transform="rotate(-118.771 20.7405 13.8698)"
                ></circle>
                <circle
                  cx="29.5423"
                  cy="9.0368"
                  r="1.14106"
                  transform="rotate(-118.771 29.5423 9.0368)"
                ></circle>
                <circle
                  cx="38.344"
                  cy="4.2038"
                  r="1.14106"
                  transform="rotate(-118.771 38.344 4.2038)"
                ></circle>
                <circle
                  cx="47.1458"
                  cy="-0.62915"
                  r="1.14106"
                  transform="rotate(-118.771 47.1458 -0.62915)"
                ></circle>
              </svg>
            </span>
          </div>
        </div>
        <div class="fc zk/2 hm/3 nf wm zn">
          <div
            class="re sj lf sm vm vn de ge e ea yd ua gj wi ii ai wow fadeInUp"
            data-wow-delay=".35s"
            style="visibility: visible; animation-delay: 0.35s"
          >
            <p class="lh _g qh _j ya jj">
              Lorem ipsum dolor sit amet, consect adipiscing elit. Pellentesque
              dignissim nisi a odio laoreet luctus. Ut sed diam, quis bibendum
              ex.
            </p>
            <div class="lb qd">
              <div class="sc dc ae yd qa">
                <img src="images/image-3.png" alt="image" class="fc" />
              </div>
              <div>
                <h3 class="lh ah qh _j jj">Jonathon Smith</h3>
                <p class="kh gh ph jj kj">UI/UX Designer</p>
              </div>
            </div>
            <span class="d g o fa sh jj">
              <svg width="63" height="30" viewBox="0 0 63 30" class="ff">
                <circle
                  cx="7.21563"
                  cy="10.1013"
                  r="1.14106"
                  transform="rotate(-118.771 7.21563 10.1013)"
                ></circle>
                <circle
                  cx="24.8191"
                  cy="0.43515"
                  r="1.14106"
                  transform="rotate(-118.771 24.8191 0.43515)"
                ></circle>
                <circle
                  cx="16.7716"
                  cy="27.5037"
                  r="1.14106"
                  transform="rotate(-118.771 16.7716 27.5037)"
                ></circle>
                <circle
                  cx="2.38256"
                  cy="1.2995"
                  r="1.14106"
                  transform="rotate(-118.771 2.38256 1.2995)"
                ></circle>
                <circle
                  cx="25.5737"
                  cy="22.6717"
                  r="1.14106"
                  transform="rotate(-118.771 25.5737 22.6717)"
                ></circle>
                <circle
                  cx="34.3754"
                  cy="17.8386"
                  r="1.14106"
                  transform="rotate(-118.771 34.3754 17.8386)"
                ></circle>
                <circle
                  cx="43.1771"
                  cy="13.0056"
                  r="1.14106"
                  transform="rotate(-118.771 43.1771 13.0056)"
                ></circle>
                <circle
                  cx="51.9788"
                  cy="8.17249"
                  r="1.14106"
                  transform="rotate(-118.771 51.9788 8.17249)"
                ></circle>
                <circle
                  cx="60.5805"
                  cy="3.44925"
                  r="1.14106"
                  transform="rotate(-118.771 60.5805 3.44925)"
                ></circle>
                <circle
                  cx="11.9389"
                  cy="18.7029"
                  r="1.14106"
                  transform="rotate(-118.771 11.9389 18.7029)"
                ></circle>
                <circle
                  cx="20.7405"
                  cy="13.8698"
                  r="1.14106"
                  transform="rotate(-118.771 20.7405 13.8698)"
                ></circle>
                <circle
                  cx="29.5423"
                  cy="9.0368"
                  r="1.14106"
                  transform="rotate(-118.771 29.5423 9.0368)"
                ></circle>
                <circle
                  cx="38.344"
                  cy="4.2038"
                  r="1.14106"
                  transform="rotate(-118.771 38.344 4.2038)"
                ></circle>
                <circle
                  cx="47.1458"
                  cy="-0.62915"
                  r="1.14106"
                  transform="rotate(-118.771 47.1458 -0.62915)"
                ></circle>
              </svg>
            </span>
          </div>
        </div>
        <div class="fc zk/2 hm/3 nf wm zn">
          <div
            class="re sj lf sm vm vn de ge e ea yd ua gj wi ii ai wow fadeInUp"
            data-wow-delay=".4s"
            style="visibility: visible; animation-delay: 0.4s"
          >
            <p class="lh _g qh _j ya jj">
              Lorem ipsum dolor sit amet, consect adipiscing elit. Pellentesque
              dignissim nisi a odio laoreet luctus. Ut sed diam, quis bibendum
              ex.
            </p>
            <div class="lb qd">
              <div class="sc dc ae yd qa">
                <img src="images/image-4.png" alt="image" class="fc" />
              </div>
              <div>
                <h3 class="lh ah qh _j jj">Devid Miller</h3>
                <p class="kh gh ph jj kj">Product Designer</p>
              </div>
            </div>
            <span class="d g o fa sh jj">
              <svg width="63" height="30" viewBox="0 0 63 30" class="ff">
                <circle
                  cx="7.21563"
                  cy="10.1013"
                  r="1.14106"
                  transform="rotate(-118.771 7.21563 10.1013)"
                ></circle>
                <circle
                  cx="24.8191"
                  cy="0.43515"
                  r="1.14106"
                  transform="rotate(-118.771 24.8191 0.43515)"
                ></circle>
                <circle
                  cx="16.7716"
                  cy="27.5037"
                  r="1.14106"
                  transform="rotate(-118.771 16.7716 27.5037)"
                ></circle>
                <circle
                  cx="2.38256"
                  cy="1.2995"
                  r="1.14106"
                  transform="rotate(-118.771 2.38256 1.2995)"
                ></circle>
                <circle
                  cx="25.5737"
                  cy="22.6717"
                  r="1.14106"
                  transform="rotate(-118.771 25.5737 22.6717)"
                ></circle>
                <circle
                  cx="34.3754"
                  cy="17.8386"
                  r="1.14106"
                  transform="rotate(-118.771 34.3754 17.8386)"
                ></circle>
                <circle
                  cx="43.1771"
                  cy="13.0056"
                  r="1.14106"
                  transform="rotate(-118.771 43.1771 13.0056)"
                ></circle>
                <circle
                  cx="51.9788"
                  cy="8.17249"
                  r="1.14106"
                  transform="rotate(-118.771 51.9788 8.17249)"
                ></circle>
                <circle
                  cx="60.5805"
                  cy="3.44925"
                  r="1.14106"
                  transform="rotate(-118.771 60.5805 3.44925)"
                ></circle>
                <circle
                  cx="11.9389"
                  cy="18.7029"
                  r="1.14106"
                  transform="rotate(-118.771 11.9389 18.7029)"
                ></circle>
                <circle
                  cx="20.7405"
                  cy="13.8698"
                  r="1.14106"
                  transform="rotate(-118.771 20.7405 13.8698)"
                ></circle>
                <circle
                  cx="29.5423"
                  cy="9.0368"
                  r="1.14106"
                  transform="rotate(-118.771 29.5423 9.0368)"
                ></circle>
                <circle
                  cx="38.344"
                  cy="4.2038"
                  r="1.14106"
                  transform="rotate(-118.771 38.344 4.2038)"
                ></circle>
                <circle
                  cx="47.1458"
                  cy="-0.62915"
                  r="1.14106"
                  transform="rotate(-118.771 47.1458 -0.62915)"
                ></circle>
              </svg>
            </span>
          </div>
        </div>
        <div class="fc zk/2 hm/3 nf wm zn">
          <div
            class="re sj lf sm vm vn de ge e ea yd ua gj wi ii ai wow fadeInUp"
            data-wow-delay=".45s"
            style="visibility: visible; animation-delay: 0.45s"
          >
            <p class="lh _g qh _j ya jj">
              Lorem ipsum dolor sit amet, consect adipiscing elit. Pellentesque
              dignissim nisi a odio laoreet luctus. Ut sed diam, quis bibendum
              ex.
            </p>
            <div class="lb qd">
              <div class="sc dc ae yd qa">
                <img src="images/image-5.png" alt="image" class="fc" />
              </div>
              <div>
                <h3 class="lh ah qh _j jj">Adam Wilsmith</h3>
                <p class="kh gh ph jj kj">App Developer</p>
              </div>
            </div>
            <span class="d g o fa sh jj">
              <svg width="63" height="30" viewBox="0 0 63 30" class="ff">
                <circle
                  cx="7.21563"
                  cy="10.1013"
                  r="1.14106"
                  transform="rotate(-118.771 7.21563 10.1013)"
                ></circle>
                <circle
                  cx="24.8191"
                  cy="0.43515"
                  r="1.14106"
                  transform="rotate(-118.771 24.8191 0.43515)"
                ></circle>
                <circle
                  cx="16.7716"
                  cy="27.5037"
                  r="1.14106"
                  transform="rotate(-118.771 16.7716 27.5037)"
                ></circle>
                <circle
                  cx="2.38256"
                  cy="1.2995"
                  r="1.14106"
                  transform="rotate(-118.771 2.38256 1.2995)"
                ></circle>
                <circle
                  cx="25.5737"
                  cy="22.6717"
                  r="1.14106"
                  transform="rotate(-118.771 25.5737 22.6717)"
                ></circle>
                <circle
                  cx="34.3754"
                  cy="17.8386"
                  r="1.14106"
                  transform="rotate(-118.771 34.3754 17.8386)"
                ></circle>
                <circle
                  cx="43.1771"
                  cy="13.0056"
                  r="1.14106"
                  transform="rotate(-118.771 43.1771 13.0056)"
                ></circle>
                <circle
                  cx="51.9788"
                  cy="8.17249"
                  r="1.14106"
                  transform="rotate(-118.771 51.9788 8.17249)"
                ></circle>
                <circle
                  cx="60.5805"
                  cy="3.44925"
                  r="1.14106"
                  transform="rotate(-118.771 60.5805 3.44925)"
                ></circle>
                <circle
                  cx="11.9389"
                  cy="18.7029"
                  r="1.14106"
                  transform="rotate(-118.771 11.9389 18.7029)"
                ></circle>
                <circle
                  cx="20.7405"
                  cy="13.8698"
                  r="1.14106"
                  transform="rotate(-118.771 20.7405 13.8698)"
                ></circle>
                <circle
                  cx="29.5423"
                  cy="9.0368"
                  r="1.14106"
                  transform="rotate(-118.771 29.5423 9.0368)"
                ></circle>
                <circle
                  cx="38.344"
                  cy="4.2038"
                  r="1.14106"
                  transform="rotate(-118.771 38.344 4.2038)"
                ></circle>
                <circle
                  cx="47.1458"
                  cy="-0.62915"
                  r="1.14106"
                  transform="rotate(-118.771 47.1458 -0.62915)"
                ></circle>
              </svg>
            </span>
          </div>
        </div>
        <div class="fc zk/2 hm/3 nf wm zn">
          <div
            class="re sj lf sm vm vn de ge e ea yd ua gj wi ii ai wow fadeInUp"
            data-wow-delay=".5s"
            style="visibility: visible; animation-delay: 0.5s"
          >
            <p class="lh _g qh _j ya jj">
              Lorem ipsum dolor sit amet, consect adipiscing elit. Pellentesque
              dignissim nisi a odio laoreet luctus. Ut sed diam, quis bibendum
              ex.
            </p>
            <div class="lb qd">
              <div class="sc dc ae yd qa">
                <img src="images/image-6.png" alt="image" class="fc" />
              </div>
              <div>
                <h3 class="lh ah qh _j jj">Justin Farnandes</h3>
                <p class="kh gh ph jj kj">Seo Expert</p>
              </div>
            </div>
            <span class="d g o fa sh jj">
              <svg width="63" height="30" viewBox="0 0 63 30" class="ff">
                <circle
                  cx="7.21563"
                  cy="10.1013"
                  r="1.14106"
                  transform="rotate(-118.771 7.21563 10.1013)"
                ></circle>
                <circle
                  cx="24.8191"
                  cy="0.43515"
                  r="1.14106"
                  transform="rotate(-118.771 24.8191 0.43515)"
                ></circle>
                <circle
                  cx="16.7716"
                  cy="27.5037"
                  r="1.14106"
                  transform="rotate(-118.771 16.7716 27.5037)"
                ></circle>
                <circle
                  cx="2.38256"
                  cy="1.2995"
                  r="1.14106"
                  transform="rotate(-118.771 2.38256 1.2995)"
                ></circle>
                <circle
                  cx="25.5737"
                  cy="22.6717"
                  r="1.14106"
                  transform="rotate(-118.771 25.5737 22.6717)"
                ></circle>
                <circle
                  cx="34.3754"
                  cy="17.8386"
                  r="1.14106"
                  transform="rotate(-118.771 34.3754 17.8386)"
                ></circle>
                <circle
                  cx="43.1771"
                  cy="13.0056"
                  r="1.14106"
                  transform="rotate(-118.771 43.1771 13.0056)"
                ></circle>
                <circle
                  cx="51.9788"
                  cy="8.17249"
                  r="1.14106"
                  transform="rotate(-118.771 51.9788 8.17249)"
                ></circle>
                <circle
                  cx="60.5805"
                  cy="3.44925"
                  r="1.14106"
                  transform="rotate(-118.771 60.5805 3.44925)"
                ></circle>
                <circle
                  cx="11.9389"
                  cy="18.7029"
                  r="1.14106"
                  transform="rotate(-118.771 11.9389 18.7029)"
                ></circle>
                <circle
                  cx="20.7405"
                  cy="13.8698"
                  r="1.14106"
                  transform="rotate(-118.771 20.7405 13.8698)"
                ></circle>
                <circle
                  cx="29.5423"
                  cy="9.0368"
                  r="1.14106"
                  transform="rotate(-118.771 29.5423 9.0368)"
                ></circle>
                <circle
                  cx="38.344"
                  cy="4.2038"
                  r="1.14106"
                  transform="rotate(-118.771 38.344 4.2038)"
                ></circle>
                <circle
                  cx="47.1458"
                  cy="-0.62915"
                  r="1.14106"
                  transform="rotate(-118.771 47.1458 -0.62915)"
                ></circle>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
